@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1a1a1a;
    --foreground: #ffffff;

    --muted: #2a2a2a;

    --border: #2a2a2a;
    --input: #2a2a2a;

    --destructive: #f47174;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
