---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="text-center mb-3 font-bold text-3xl">Pi Kappa Kappa</h1>
      <p class="text-center">Tidenes kollektiv!</p>
    </main>
  </body>
</html>
